<div class="resume-section-content">
    <form method="post">
        <h2 class="mb-5">İletişim</h2>
        <label>Ad Soyad</label>
        <input type="text" class="form-control" name="AdSoyad" maxlength = "100" />

        <label>Mail</label>
        <input type="text" class="form-control" name="Mail"  maxlength = "50"/>

        <label>Konu</label>
        <input type="text" class="form-control" name="Konu" maxlength = "100" />

        <label>Mesaj</label>
        <input type="text" class="form-control" name="Mesaj" maxlength = "1000" />
        <br />
        <button class="btn btn-info">Mesaj Gönder</button>
    </form>
</div>
